<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
Create location:
<form action="createLocation" method="POST">
    <input type="text" name="name" placeholder="CREATE LOCATION">
    <input type="submit" value="CREATE LOCATION">
</form><br>

Create date:
<form action="createDate" method="POST">
    <input type="text" name="previousDate" placeholder="PREVIOUS DATE">
    <input type="text" name="date" placeholder="DATE">
    <input type="text" name="nextDate" placeholder="NEXT DATE">
    <input type="submit" value="CREATE DATE">
</form><br>


Edit weather:
<form action="showRedactorPage" method="POST">
    <input type="text" name="name" placeholder="NAME">
    <input type="text" name="date" placeholder="DATE">
    <input type="text" name="time" placeholder="TIME">
    <input type="submit" value="Redactoring">
</form><br>


Delete date:
<form action="deleteByDate" method="POST">
    <input type="text" name="date" placeholder="DATE">
    <input type="submit" th:value="DELETE">
</form><br>


Delete location:
<form action="deleteByLocation" method="POST">
    <input type="text" name="name" placeholder="LOCATION">
    <input type="submit" th:value="DELETE">
</form>

<table>
    <tr>
        <th>Name of settlement</th>
        <th>Action</th>
    </tr>

    <tbody>
    <tr th:each="location : ${locations}">
        <td th:text="${location.name}" />
        <td>
            <form th:action="@{/showDetailInfo}" th:object="${location}" method="GET">
                <datalist id="timeList">
                    <option th:each="generalDate : ${dates}" th:value="${generalDate.getDate()}"></option>
                </datalist>
                <input type="hidden" name="name" th:value="${location.name}">
                <input type="text" name="date" list="timeList">
                <input type="submit" value="Search">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/showEmptyWeathers}">Показати незаповнені поля</a>
</body>
</html>