<!DOCTYPE html>
<html>
<head>
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input[type="submit"]:hover {
            background-color: #000000;
            color: rgb(246, 244, 248);
        }



        .center-column {
            text-align: center;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://en.wikipedia.org/wiki/Weather">Weather</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link btn btn-primary" th:href="@{admin/adminPage}">Адміністратор</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn btn-primary" th:href="@{editor/editorPage}">Редактор</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn btn-primary" th:href="@{contactPage}">Контакти</a>
            </li>
        </ul>
    </div>
</nav>



<div class="jumbotron text-center" style="background-image: url('img/mainfon.jpg');">
    <h1>Вітаємо на нашому веб-сайті</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 center-input">

            <form th:action="@{searchByLocation}" th:method="GET">
                <label th:for="name">Назва населеного пункту: </label>
                <input type="text" th:name="name" size="60">
                <input type="submit" th:value="ЗНАЙТИ">
            </form>
        </div>
    </div>
</div><br><br>

<div class="text-center">
    <h3>Список населених пунктів</h3>
</div>
<table  class="table table-bordered table-striped mx-auto">
    <tr class="center-column">
        <th>Name of settlement</th>
        <th>Date</th>
    </tr>

    <tbody>
    <tr th:each="location : ${locations}">
        <td th:text="${location.name}" class="center-column"/>
        <td class="center-column">
            <form th:action="@{/showDetailInfo}" th:object="${location}" method="GET">
                <datalist id="timeList">
                    <option th:each="generalDate : ${dates}" th:value="${generalDate.getDate()}"></option>
                </datalist>
                <input type="hidden" name="name" th:value="${location.name}" class="text-center">
                <input type="text" name="date" list="timeList" size="40" placeholder="Вкажіть дату">
                <input type="submit" value="ЗНАЙТИ">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>